/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--main-font-weight);
  color: var(--accent-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  inline-size: var(--section-size);
  background-color: var(--bg-color);
  border: var(--section-border);
  margin: auto;
}

/* Шапка */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block-start: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  margin: 100px auto;
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
}

.header__paragraph {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  padding: 4px 0 22px 15px;
  gap: 8px;
}

.theme-menu__button {
  position: relative;
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-block-start: 0px;
  inset-inline-start: -12px;
  animation: cursor 0.5s infinite ease-in-out alternate;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 2px;
  inset-block-end: -2px;
  inset-inline-start: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

/* Карточки */

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: var(--text-font-size);
  font-variation-settings: "wght" var(--bold-font-weight);
  padding: 5px 10px;
}

.card__picture-section {
  position: relative;
  block-size: var(--section-size);
}

.card__label {
  position: absolute;
  inset-inline-end: clamp(0.688rem, 0.357rem + 1.408vw, 1.625rem);
  inset-block-start: clamp(1.5rem, 1.456rem + 0.188vw, 1.625rem);
  font-family: var(--accent-font);
  font-size: 14px;
  color: var(--accent-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color),
    1px 0 var(--bg-color), 0 -1px var(--bg-color);
}

@supports (-webkit-text-stroke: 1px var(--bg-color)) {
  .card__label {
    -webkit-text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

.card__picture {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__text {
  font-size: var(--text-font-size);
  padding: 25px 27px 0px 26px;
  font-variation-settings: "wght" var(--main-font-weight);
  line-height: 21px;
}

.card__buttons-block {
  display: flex;
  justify-content: flex-end;
  gap: 1px;
  padding: 26px 25px 25px 0;
}

.card__icon-button {
  display: flex;
  block-size: 39px;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color 0.3s ease;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--section-border);
  background-color: transparent;
  cursor: pointer;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  min-inline-size: 130px;
  min-block-size: 39px;
}

.button__text {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
}

/* Фильтры */

.img-japan {
  filter: brightness(150%);
}

.img-france {
  filter: saturate(150%);
}

.img-singapore {
  filter: blur(0.2rem) brightness(150%);
}

.img-australia {
  filter: opacity(0.6);
}

.img-usa {
  filter: grayscale(0.8);
}

.img-china {
  filter: contrast(50%);
}

.img-russia {
  filter: hue-rotate(-90deg);
}

.img-india {
  filter: sepia(80%);
}

/* Кнопка save и dialog */

.save {
  display: flex;
  justify-content: center;
  padding-block-end: clamp(6.25rem, 6.184rem + 0.282vw, 6.438rem);
}

.save__button {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--bg-color);
  inline-size: clamp(19.375rem, 18.737rem + 2.723vw, 21.188rem);
  block-size: clamp(3.438rem, 5.888rem + -2.723vw, 5.25rem);
}

.button__icon {
  max-inline-size: 21px;
  max-block-size: 21px;
}

.dialog {
  background-color: var(--bg-color);
  border: var(--section-border);
  inline-size: clamp(21.313rem, 20.96rem + 1.502vw, 22.313rem);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

.dialog__content {
  display: flex;
  gap: 20px;
}

.dialog__icon {
  color: var(--accent-color);
  max-inline-size: 39px;
}

.dialog__content-text {
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-weight: var(--main-font-weight);
  font-size: var(--button-font-size);
  line-height: 21px;
  text-transform: uppercase;
}

.dialog-button {
  inline-size: 100%;
  block-size: 38px;
  text-transform: uppercase;
}

@media (width < 376px) {
  .save__button {
    flex-direction: column;
  }

  .button__icon {
    max-inline-size: 28px;
    max-block-size: 28px;
  }
}
