/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: "Inter-Variable";
  --accent-font: "Press Start 2P";
  --section-width: clamp(375px, 80%, 700px);
  --text-font-size: 18px;
  --button-font-size: 14px;
  --label-font-size: 14px;
  --text-line-height: 21px;
  --section-border: 2px solid var(--accent-color);
  --main-font-weight: 400;
  --bold-font-weight: 700;
  --accent-color: #000000;
  --bg-color: #ffffff;
  --label-color: #ffffff;
  --bg-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0,
      #d3d3d3 2px,
      rgb(211 211 211 / 0) 2px,
      rgb(211 211 211 / 0) 4px
    ),
    repeating-linear-gradient(
      180deg,
      #d3d3d3 0,
      #d3d3d3 2px,
      rgb(211 211 211 / 0) 2px,
      rgb(211 211 211 / 0) 4px
    ),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
}
